<div [formGroup]="form">
  <mat-select
    class="animal-type-select-input"
    [id]="id + '-value'"
    formControlName="typeSelect"
    [placeholder]="placeholder"
    (blur)="onBlur()"
    (valueChange)="writeValue($event)"
  >
    <mat-option *ngFor="let key of keys" [value]="key">
      <app-animal-type-select-display
        [value]="key"
      ></app-animal-type-select-display>
    </mat-option>
    <mat-select-trigger>
      <app-animal-type-select-display
        [value]="value"
      ></app-animal-type-select-display>
    </mat-select-trigger>
  </mat-select>
</div>
