<app-loader *ngIf="isLoading; else content"></app-loader>

<ng-template #content>
  <mat-card>
    <form [formGroup]="form" fxLayout="column" (ngSubmit)="onSave()">
      <app-animal-select-container
        [disabled]="true"
        fxFill
      ></app-animal-select-container>
      <div
        fxFill
        fxLayout="row"
        fxLayout.lt-sm="column"
        [fxLayoutGap.gt-xs]="gapSize"
      >
        <mat-form-field appearance="fill" fxFlex>
          <mat-label for="transactionDate">Transaction Date</mat-label>
          <input
            id="transactionDate"
            formControlName="transactionDate"
            matInput
            [matDatepicker]="bd"
            placeholder="The date the weight was captured"
          />
          <mat-datepicker-toggle matSuffix [for]="bd"></mat-datepicker-toggle>
          <mat-datepicker type="datetime" #bd></mat-datepicker>
          <mat-error
            *ngIf="transactionDateCtrl.invalid"
            [innerHtml]="dateErrorMessage"
          >
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label for="weight">Weight</mat-label>
          <input
            type="number"
            id="weight"
            formControlName="weight"
            matInput
            placeholder="Weight"
            class="currency-input"
          />
          <span matSuffix>kg</span>
        </mat-form-field>
      </div>

      <div fxFill fxLayout="row" fxLayoutAlign="flex-start start">
        <div fxFlex fxLayoutAlign="start start">
          <a
            [disabled]="isSaving"
            [routerLink]="backLink"
            id="back"
            mat-stroked-button
            title="Back to the medical transaction list"
          >
            Back
          </a>
        </div>
        <div fxFlex fxLayoutAlign="end start">
          <button
            type="button"
            mat-button
            title="Reset changes"
            [disabled]="!form.dirty"
            (click)="onReset()"
          >
            Cancel
          </button>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            title="Submit changes"
            [disabled]="form.invalid || !form.dirty || isSaving"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</ng-template>
