<div [formGroup]="form">
  <mat-select
    class="animal-type-select-input"
    [id]="id + '-value'"
    formControlName="typeSelect"
    [placeholder]="placeholder"
    (blur)="onBlur()"
    (valueChange)="writeValue($event)"
  >
    <mat-option *ngFor="let key of keys" [value]="key">
      <mat-icon [svgIcon]="getIcon(key)"></mat-icon>
      <span>{{ AnimalTypes[key] }}</span>
    </mat-option>
    <mat-select-trigger>
      <mat-icon [svgIcon]="getIcon(value)"></mat-icon>
      <span>
        {{ value >= 0 ? AnimalTypes[value] : '' }}
      </span>
    </mat-select-trigger>
  </mat-select>
</div>
