/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";
@import "~/../app-theme.scss";

@include mat-core();

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

.app-background {
  background-color: mat-color($candy-app-primary, 100);
}

.mat-toolbar {
  .mat-nav-list {
    display: flex;
    position: relative;

    .mat-list-item {
      color: $light-primary-text;
    }
  }

  .mat-list-item,
  .mat-list-item .mat-list-item-content,
  .mat-button,
  a,
  span {
    color: $light-primary-text;
    font-size: 22px;
    font-weight: 400;

    &:hover {
      color: $light-secondary-text;
      background-color: unset;
    }

    .mat-icon {
      padding-right: 8px;
    }
  }

  a {
    cursor: pointer;
  }

  *[disabled],
  *[disabled] * {
    color: $light-disabled-text;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.livestock-item-list.mat-selection-list {
  .livestock-item-list__item.mat-list-item {
    .mat-list-item-content {
      padding: 8px;

      &:focus {
        outline: unset;
      }
    }
  }
}

.nav {
  font-size: 22px;

  .nav-secondary,
  .nav-secondary .mat-list-item-content {
    font-size: 16px;
  }
}

.currency-input {
  text-align: right;
}

input.currency-input::-webkit-outer-spin-button,
input.currency-input::-webkit-inner-spin-button {
  display: none;
}

input.currency-input {
  -moz-appearance: textfield;
  appearance: textfield;
}

.mat-checkbox {
  margin: auto 4px;
  display: flex;
  flex-direction: column;

  &.mat-checkbox-label-before .mat-checkbox-inner-container {
    margin-left: auto;
    margin-right: 0;
  }
}

.mat-form-field {
  &.mat-focused {
    .mat-input-wrapper.mat-form-field-wrapper {
      .mat-form-field-flex {
        background-color: mat-color($candy-app-primary, 200, 0.8);
        padding: 3px 0 0 3px;
        border-radius: 3px 3px 0 0;
      }

      .mat-input-subscript-wrapper,
      .mat-input-underline {
        padding-right: 3px;
      }
    }
  }
}

.mat-card {
  background-color: mat-color($candy-app-primary, 100);

  .mat-card-header {
    display: flex;
  }

  .mat-card-actions {
    .mat-button {
      text-transform: uppercase;
    }
  }
}
