/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding: 0;
  margin: 0;
}

app-header {
  display: block;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

mat-toolbar button {
  padding: 0 14px;
  height: 100%;
}

app-livestock .mat-drawer {
  overflow-y: scroll;
}

.select-box.mat-list-item .mat-list-item-content .mat-ripple {
  display: none;
}
