@use '@angular/material' as mat;

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.core();

$livestock-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$green-palette,
    tertiary: mat.$orange-palette,
  ),
  density: (
    scale: 0,
  ),
));

html {
  @include mat.all-component-themes($livestock-theme);
}

a {
  color: inherit;
  text-decoration: none;
}