<div class="medical-container">
  <mat-toolbar class="medical-toolbar">
    <mat-toolbar-row>
      <app-animal-select-container></app-animal-select-container>
    </mat-toolbar-row>
    <mat-toolbar-row class="medical-toolbar__header">
      <span class="medical-toolbar__trans-type">Medicine Type</span>
      <span class="medical-toolbar__trans-date">Date</span>
      <span class="medical-toolbar__trans-dose">Dose</span>
      <span class="medical-toolbar__trans-unit">Unit</span>
      <span class="medical-toolbar__trans-trash"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-list class="medical-list mat-elevation-z1">
    <mat-list-item
      class="medical-list-item"
      *ngFor="let medTrans of filteredMedicalTransactions"
    >
      <app-medical-transaction
        class="medical-transaction"
        [medicalTransaction]="medTrans"
      ></app-medical-transaction>
    </mat-list-item>
    <mat-paginator
      [pageSize]="pageSize"
      [length]="medicalTransactions.length"
      class="mat-accent-background"
      (page)="onPage($event)"
    ></mat-paginator>
  </mat-list>
  <button
    mat-fab
    class="mat-fab-bottom-right"
    type="button"
    (click)="addMedicalTransaction(currentAnimal)"
    left
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
