<div class="card-list-container">
  <div class="card-list-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Description</span> <span></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-list class="unit-list mat-elevation-z1">
      <mat-list-item
        class="card-list-item"
        *ngFor="let feedType of filteredFeedTypes"
      >
        <app-feed-type-detail
          class="feed-type-item"
          [feedType]="feedType"
          (remove)="onRemove($event)"
          (save)="onSave($event)"
        ></app-feed-type-detail>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-paginator
        [pageSize]="pageSize"
        [length]="feedTypes.length"
        class="mat-accent-background"
        (page)="onPage($event)"
      ></mat-paginator>
    </mat-list>
    <button
      mat-fab
      class="mat-fab-bottom-right"
      type="button"
      (click)="addFeedType()"
      left
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
