<mat-form-field class="animal-select-container" appearance="standard" fxFlex>
  <mat-select
    [value]="animal?.id || null"
    #animalSelector
    (selectionChange)="onChange($event.value)"
    [disabled]="disabled"
  >
    <mat-select-trigger>
      <app-animal-select-display [animal]="animal"></app-animal-select-display>
    </mat-select-trigger>
    <mat-option
      *ngFor="let animalOption of animals; let i = index"
      [value]="animalOption.id"
    >
      <app-animal-select-display
        [animal]="animalOption"
      ></app-animal-select-display>
    </mat-option>
  </mat-select>
</mat-form-field>
