@import "~@angular/material/theming";
@import "~/../../../../app-theme";

.livestock-detail-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .livestock-detail-toolbar__header-top {
    height: 30vh;
  }
}

.mat-list-icon {
  background-color: mat-color($candy-app-accent, 400);
  font-size: unset;
}

.livestock-detail-toolbar__nav__desc {
  .mat-icon {
    padding-right: 4px;
    background-color: $light-primary-text;
  }

  .livestock-detail-toolbar__nav__desc-text {
    padding-left: 8px;
  }
}

.livestock-detail-content {
  display: flex;
  flex-direction: column;
  position: relative;

  .livestock-detail-content__card {
    position: relative;
    top: -20vh;
    margin: auto;
    min-width: 40vw;
    background-color: mat-color($candy-app-primary, 200);

    .livestock-detail-content__card-content {
      margin-bottom: 0;
    }

    .form-container-inline {
      display: flex;
    }

    .mat-form-field,
    .mat-checkbox {
      flex: 1 1 auto;
      width: 50%;
    }

    .mat-form-field {
      margin: 0 4px;
    }

    .mat-card-actions {
      display: flex;
    }

    .mat-card-header .mat-card-header-text .mat-card-title {
      .mat-icon {
        background-color: mat-color($candy-app-accent, 400);
        font-size: unset;
      }
    }
  }
}
