@import "~@angular/material/theming";
@import "~/../../../../app-theme";

.livestock-list-container {
  position: relative;
  display: block;
  min-height: calc(100vh - 64px);

  .mat-fab-bottom-right {
    position: fixed;
    bottom: 16px;
    right: 16px;
  }
}

.mat-toolbar * {
  font-size: 16px;
}

.livestock-list-container .livestock-toolbar,
.livestock-list-container .livestock-item-list {
  margin: auto;
  width: 695px;
  min-width: 695px;
  display: flex;
  position: relative;
}

.livestock-list-container .livestock-toolbar {
  background-color: mat-color($candy-app-primary, 100);
  color: mat-color($candy-app-primary, '100-contrast');
  font-size: 14px;
  font-weight: 500;
  padding-left: 16px;
  padding-right: 16px;

  * {
    color: inherit;
  }
}

.livestock-list-container .livestock-item-list {
  flex-direction: column;
  padding: 0;
  height: auto;
}

@media only screen and (min-width: 1100px) {
  .livestock-list-container .livestock-toolbar,
  .livestock-list-container .livestock-item-list {
    margin: auto;
    width: 920px;
  }
}

@media only screen and (min-width: 1400px) {
  .livestock-list-container .livestock-toolbar,
  .livestock-list-container .livestock-item-list {
    margin: auto;
    width: 1150px;
  }
}

.livestock-card__type,
.livestock-card__number,
.livestock-card__age,
.livestock-card__sold,
.livestock-toolbar__type,
.livestock-toolbar__number,
.livestock-toolbar__age,
.livestock-toolbar__sold {
  position: relative;
  display: flex;
}

.livestock-card__type,
.livestock-toolbar__type {
  width: 50%;
  min-width: 300px;
}

.livestock-card__age,
.livestock-toolbar__age {
  width: 30%;
  min-width: 195px;
}

.livestock-card__number,
.livestock-card__sold,
.livestock-toolbar__number,
.livestock-toolbar__sold {
  float: left;
  width: 10%;
  min-width: 50px;
}

.livestock-item-list__item {
  cursor: pointer;
  display: flex;
  position: relative;
  padding: 0;
  height: auto;
  border-radius: 0;
  flex-direction: column;
  background-color: mat-color($candy-app-primary, 200);

  &:focus {
    outline: unset;
  }

  &:hover {
    background-color: mat-color($candy-app-primary, 300);
  }

  .mat-list-icon {
    background-color: mat-color($candy-app-accent, 400);
    font-size: unset;
  }
}

.livestock-item-list__item-active {
  background-color: mat-color($candy-app-primary, 300, 0.8);
}

.livestock-item-list__card {
  width: 100%;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.livestock-card__type-desc {
  padding-left: 8px;
  margin-top: auto;
  margin-bottom: auto;
}
