.livestock-list-container {
  overflow: auto;
}

.livestock-list-container mat-toolbar {
  padding: 0;
  height: 100%;
}

.livestock-list-container mat-selection-list {
  padding: 0;
}

.livestock-list-container .mat-list-text {
  padding-left: 16px;
}
