<div class="livestock-list-container">
  <mat-toolbar color="primary">
    <span class="fill-remaining-space"></span>
    <button type="button" mat-icon-button title="Remove selected" (click)="removeLivestock(animals.selectedOptions.selected)">
      <mat-icon>delete</mat-icon>
    </button>
    <button type="button" mat-icon-button title="Filter">
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>
  <mat-selection-list #animals>
    <mat-list-item
     mat-ripple
     class="livestock-selectable-list-item"
     *ngFor="let animal of livestockList; let i = index"
     [routerLink]="['edit']"
     [queryParams]="{id: animal.id}">
      <mat-icon matListIcon class="mat-icon-button mat-accent" svgIcon="{{getSvgIcon(animal)}}"></mat-icon>
      <h3 matLine>{{animal.number}}</h3>
      <p matLine>{{animal.subspecies}}</p>
      <p matLine>{{animal.birthDate | date:'dd MMMM yyyy'}}</p>
      <p matLine>{{animal.getAge()}}</p>
      <mat-list-option [value]="animal.id" class="select-box" mat-ripple [matRippleDisabled]="true"></mat-list-option>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-selection-list>
</div>
