@use '~@angular/material' as mat;
@use 'app-theme' as theme;

.feeding-transaction-container {
  position: relative;
  display: block;
  min-height: calc(100vh - 64px);
  margin-left: auto;
  margin-right: auto;
  background-color: mat.get-color-from-palette(theme.$candy-app-primary, 100);
  color: mat.get-color-from-palette(
    theme.$candy-app-accent,
    '600-contrast',
    0.6
  );

  .feeding-transaction {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
