@use '~@angular/material' as mat;
@import 'app-theme';

.feeding-transaction-container {
  position: relative;
  display: block;
  min-height: calc(100vh - 64px);
  margin-left: auto;
  margin-right: auto;
  background-color: mat.get-color-from-palette($candy-app-primary, 100);
  color: mat.get-color-from-palette($candy-app-accent, '600-contrast', 0.6);

  .feeding-transaction {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
