<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Info" />
    <add key="api:baseurl" value="http://www.livestock-tracker.xyz" />
    <add key="api:versionroute" value="release.json" />
    <add key="app:defaultinstallpath" value="C:\Programs\livestock-tracker" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
