<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="serilog:minimum-level" value="Debug" />
        <add key="api:baseurl" value="http://www.livestock-tracker.xyz"/>
        <add key="api:versionroute" value="release.json"/>
        <add key="app:defaultinstallpath" value="C:\Programs\livestock-tracker"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
