<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="serilog:minimum-level" value="Info" />
        <add key="ftp:server" value="ftp://ftp.drivehq.com/livestock-tracker/"/>
        <add key="ftp:username" value="digibanks99"/>
        <add key="ftp:password" value="VS5mS34%#IwACGxKSPmhrQg*&amp;o"/>
        <add key="api:baseurl" value="http://www.livestock-tracker.xyz"/>
        <add key="api:versionroute" value="release.json"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
