@use '~@angular/material' as mat;

.title {
  display: flex;
  justify-content: baseline;
  align-items: baseline;

  span {
    margin-left: 2rem;
  }
}

.animal-list-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.animal-list-type__desc {
  margin-left: 1rem;
  vertical-align: super;

  a {
    display: block;
  }
}

tr.archived {
  background-color: lighten(
    $color: mat.get-color-from-palette(mat.$lime-palette, 200),
    $amount: 20
  );
}
