<mat-card>
  <form
    (ngSubmit)="onSave()"
    [formGroup]="form"
    class="form"
    fxLayout="column"
    fxLayoutAlign="space-around center"
  >
    <app-animal-select-container
      [disabled]="true"
      fxFill
    ></app-animal-select-container>
    <mat-form-field fxFill>
      <mat-label>Feed Type</mat-label>
      <mat-select
        formControlName="feedTypeId"
        placeholder="Select a feed type"
      >
        <mat-option *ngFor="let feedType of feedTypes" [value]="feedType.id">
          {{ feedType.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFill>
      <mat-label>Transaction Date</mat-label>
      <input
        [matDatepicker]="td"
        formControlName="transactionDate"
        id="transactionDate"
        matInput
        placeholder="The date the feed was given"
      />
      <mat-datepicker-toggle [for]="td" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #td type="datetime"></mat-datepicker>
    </mat-form-field>
    <mat-form-field fxFill>
      <mat-label>Quantity</mat-label>
      <input
        class="currency-input"
        formControlName="quantity"
        id="quantity"
        matInput
        placeholder="The quantity of feed given"
        type="number"
      />
    </mat-form-field>
    <mat-form-field fxFill>
      <mat-label>Unit Type</mat-label>
      <mat-select
        formControlName="unitId"
        id="unitId"
        placeholder="Select a unit type"
        required
      >
        <mat-option *ngFor="let unitType of units" [value]="unitType.id">
          {{ unitType.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div fxFill fxLayout="row" fxLayoutAlign="flex-start start">
      <div fxFlex fxLayoutAlign="start start">
        <a
          [disabled]="isSaving"
          [routerLink]="backLink"
          id="back"
          mat-stroked-button
          title="Back to the medical transaction list"
        >
          Back
        </a>
      </div>
      <div fxFlex fxLayoutAlign="end start">
        <button
          (click)="onReset()"
          [disabled]="!form.dirty"
          mat-button
          title="Reset changes"
          type="button"
        >
          Cancel
        </button>
        <button
          [disabled]="form.invalid || !form.dirty || isSaving"
          color="primary"
          mat-raised-button
          title="Submit changes"
          type="submit"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</mat-card>
