/* You can add global styles to this file, and also import other style files */

//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";
@import "~/../app-theme.scss";
@include mat-core();
html {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

app-livestock-list {
  display: flex;
  position: relative;
}

.app-background {
  background-color: mat-color($candy-app-primary, 100);
}

.mat-toolbar {
  .mat-nav-list {
    display: flex;
    position: relative;
    .mat-list-item {
      color: $light-primary-text;
    }
  }
  .mat-list-item,
  .mat-list-item .mat-list-item-content,
  .mat-button,
  a {
    color: $light-primary-text;
    font-size: 22px;
    font-weight: 400;
    &:hover {
      color: $light-secondary-text;
      background-color: unset;
    }
    .mat-icon {
      padding-right: 8px;
    }
  }
  a {
    cursor: pointer;
  }
  *[disabled],
  *[disabled] * {
    color: $light-disabled-text;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.livestock-item-list.mat-selection-list {
  .livestock-item-list__item.mat-list-item {
    .mat-list-item-content {
      padding: 8px;
      &:focus {
        outline: unset;
      }
    }
  }
}

.nav {
  font-size: 22px;
  .nav-secondary,
  .nav-secondary .mat-list-item-content {
    font-size: 16px;
  }
}

.currency-input {
  text-align: right;
  -moz-appearance: textfield;
  appearance: textfield;
}

input.currency-input::-webkit-outer-spin-button,
input.currency-input::-webkit-inner-spin-button {
  display: none;
}

.mat-checkbox {
  margin: auto 4px;
  display: flex;
  flex-direction: column;
  &.mat-checkbox-label-before .mat-checkbox-inner-container {
    margin-left: auto;
    margin-right: 0;
  }
}

.mat-card {
  background-color: mat-color($candy-app-primary, 100);
  .mat-card-header {
    display: flex;
    .mat-icon {
      background-color: mat-color($candy-app-accent, 400);
      border-radius: 50%;
      padding: 4px;
      font-size: unset;
    }
  }
  .mat-card-actions {
    .mat-button {
      text-transform: uppercase;
    }
  }
}

.mat-accent,
*.mat-accent {
  color: mat-color($candy-app-accent);
}

.mat-accent-background,
*.mat-accent-background {
  background-color: mat-color($candy-app-accent);
  color: mat-color($candy-app-accent, "50-contrast");
  .mat-icon {
    color: mat-color($candy-app-accent, "50-contrast");
  }
}

.medical-toolbar__trans-type,
.medical-toolbar__trans-date,
.medical-toolbar__trans-dose,
.medical-toolbar__trans-unit {
  padding: 8px 0 0 8px;
}

.medical-toolbar__trans-type {
  width: 32%;
  padding-left: 0;
  &.mat-select {
    width: 32%;
    padding-left: 0;
  }
}

.medical-toolbar__trans-date,
.medical-toolbar__trans-dose,
.medical-toolbar__trans-unit {
  text-align: right;
  justify-content: flex-end;
}

.medical-toolbar__trans-date {
  width: 30%;
}

.medical-toolbar__trans-dose,
.medical-toolbar__trans-unit {
  width: 15%;
}

.medical-toolbar__trans-trash,
.medical-toolbar__trans-trash.mat-button,
.medical-toolbar__trans-trash.mat-icon-button {
  width: 8%;
  max-width: 40px;
  margin-top: 16px;
  .mat-icon {
    color: rgba(0, 0, 0, 0.54);
    &:hover {
      color: rgba(0, 0, 0, 0.44);
    }
  }
}

.card-list-container {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  .card-list-content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 695px;
    min-width: 695px;
    display: flex;
    flex-direction: column;

    .mat-toolbar {
      background-color: mat-color($candy-app-primary, 100);
    }

    .card-list-item {
      display: flex;
      flex-direction: row;
      position: relative;
      flex: 1;

      >.mat-list-item-content {
        flex: 1;
      }

      .card-list-item-content {
        display: flex;
        flex: 1;

        .mat-form-field {
          flex: 1;
        }
      }

      .card-list-item-actions {
        max-width: 24px;
      }

      .mat-icon {
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }

  @media only screen and (min-width: 1100px) {
    .card-list-content {
      width: 920px;
    }
  }

  @media only screen and (min-width: 1400px) {
    .card-list-content {
      width: 1150px;
    }
  }

  .mat-fab-bottom-right {
    position: fixed;
    bottom: 16px;
    right: 16px;
  }
}
