<mat-form-field appearance="standard" class="animal-select-container" fxFlex>
  <mat-select (selectionChange)="onSelectionChanged($event.value)" [value]="animal.id">
    <mat-select-trigger>
      <app-animal-select-display [animal]="animal">
      </app-animal-select-display>
    </mat-select-trigger>
    <mat-option
      #option
      *ngFor="let animalOption of animals; let i = index"
      [value]="animalOption.id"
    >
      {{option.value}}
      <app-animal-select-display [animal]="animalOption">
      </app-animal-select-display>
    </mat-option>
  </mat-select>
</mat-form-field>
