<form [formGroup]="feedForm" class="container form-detail app-background">
  <mat-toolbar
    color="primary"
    class="form-detail-toolbar app-toolbar"
    role="header"
  >
    <mat-toolbar-row>
      <mat-nav-list class="form-detail-toolbar__nav">
        <a
          mat-list-item
          class="form-detail-toolbar__nav__icon-container"
          (click)="onNavigateBack()"
        >
          <mat-icon>arrow_back</mat-icon>
        </a>
        <a
          mat-list-item
          matRippleDisabled
          class="form-detail-toolbar__nav__desc"
          >{{ getHeaderText() }}</a
        >
      </mat-nav-list>
      <span class="fill-remaining-space"></span>
      <button
        mat-icon-button
        type="button"
        title="Reset changes"
        [disabled]="!feedForm.dirty"
        (click)="resetForm()"
      >
        <mat-icon>cancel</mat-icon>
      </button>
      <button
        mat-icon-button
        type="submit"
        title="Submit changes"
        [disabled]="!feedForm.dirty"
        (click)="submit()"
      >
        <mat-icon>save</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="form-detail-toolbar__header-top">
      <div class="form-detail-toolbar__header-top"></div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="form-detail-content">
    <mat-card class="form-container form-detail-content__card">
      <mat-card-header>
        <mat-card-title> TODO </mat-card-title>
      </mat-card-header>
      <mat-card-content class="form-detail-content__card-content">
        <div class="form form-container-inline">
          <mat-form-field appearance="fill">
            <mat-label for="transactionDate">Transaction Date</mat-label>
            <input
              id="transactionDate"
              formControlName="transactionDate"
              matInput
              [matDatepicker]="td"
              required
            />
            <mat-datepicker-toggle matSuffix [for]="td"></mat-datepicker-toggle>
            <mat-datepicker #td disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</form>
