<mat-toolbar color="primary" role="header">
  <button type="button" class="logo" mat-button [routerLink]="['/']" title="Home">
    <mat-icon class="logo-image" svgIcon="farmer"></mat-icon>
    Livestock Tracker
  </button>
  <button type="button" mat-button [routerLink]="['livestock']" title="Manage Livestock">Livestock</button>
  <button type="button" mat-button [routerLink]="['reports']" title="View reports">Reports</button>
  <span class="fill-remaining-space"></span>
  <button type="button" mat-button>Manage</button>
</mat-toolbar>
