<div class="feeding-transaction-container">
  <div class="ls-grid-container">
    <div class="ls-grid-content">
      <mat-toolbar class="ls-grid-toolbar">
        <mat-toolbar-row class="ls-grid-heading">
          <app-animal-select-container></app-animal-select-container>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
  <app-ls-grid
    #data
    [config]="getConfig()"
    [dataSource]="feedingTransactions"
  ></app-ls-grid>
  <button
    mat-fab
    class="mat-fab-bottom-right"
    type="button"
    (click)="add(getCurrentAnimal())"
    left
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<router-outlet></router-outlet>
