<form
  [formGroup]="animalForm"
  class="container animal-detail-container app-background"
  (ngSubmit)="submit()"
  *ngIf="currentAnimal"
>
  <mat-toolbar
    color="primary"
    class="animal-detail-toolbar app-toolbar"
    role="header"
  >
    <mat-toolbar-row>
      <mat-nav-list class="animal-detail-toolbar__nav">
        <a
          mat-list-item
          class="animal-detail-toolbar__nav__icon-container"
          (click)="onNavigateBack()"
        >
          <mat-icon>arrow_back</mat-icon>
        </a>
        <a
          mat-list-item
          matRippleDisabled
          class="animal-detail-toolbar__nav__desc"
        >
          {{ header }}
        </a>
      </mat-nav-list>
      <span class="fill-remaining-space"></span>
      <button
        mat-icon-button
        type="button"
        title="Reset changes"
        [disabled]="!animalForm.dirty"
        (click)="reset()"
      >
        <mat-icon>cancel</mat-icon>
      </button>
      <button
        mat-icon-button
        type="submit"
        title="Submit changes"
        [disabled]="animalForm.invalid || !animalForm.dirty"
      >
        <mat-icon>save</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="animal-detail-toolbar__header-top">
      <div class="animal-detail-toolbar__header-top"></div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="animal-detail-content">
    <mat-card class="form-container animal-detail-content__card">
      <mat-card-content class="animal-detail-content__card-content">
        <div class="form form-container-inline">
          <mat-form-field appearance="fill">
            <app-animal-type-select
              formControlName="type"
            ></app-animal-type-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label for="subspecies">Subspecies</mat-label>
            <input formControlName="subspecies" id="subspecies" matInput />
          </mat-form-field>
        </div>
        <div class="form-container-inline">
          <mat-form-field appearance="fill">
            <mat-label for="number">Number</mat-label>
            <input
              type="number"
              id="number"
              formControlName="number"
              matInput
              class="currency-input"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label for="batchNumber">Batch Number</mat-label>
            <input
              type="number"
              id="batchNumber"
              formControlName="batchNumber"
              matInput
              class="currency-input"
              required
            />
          </mat-form-field>
        </div>
        <div class="form-container-inline">
          <mat-form-field appearance="fill">
            <mat-label for="birthDate">Birth Date</mat-label>
            <input
              id="birthDate"
              formControlName="birthDate"
              matInput
              [matDatepicker]="bd"
              required
            />
            <mat-datepicker-toggle matSuffix [for]="bd"></mat-datepicker-toggle>
            <mat-datepicker #bd></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label for="age">Age</mat-label>
            <input id="age" formControlName="age" matInput />
          </mat-form-field>
        </div>
        <div class="form-container-inline">
          <mat-form-field appearance="fill">
            <mat-label for="purchaseDate">Purchase Date</mat-label>
            <input
              id="purchaseDate"
              formControlName="purchaseDate"
              matInput
              [matDatepicker]="pd"
              placeholder="Purchase Date"
              required
            />
            <mat-datepicker-toggle matSuffix [for]="pd"></mat-datepicker-toggle>
            <mat-datepicker #pd></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label for="purchasePrice">Purchase Price</mat-label>
            <span matPrefix *ngIf="showPrefix('purchasePrice')">R &nbsp;</span>
            <input
              type="number"
              id="purchasePrice"
              formControlName="purchasePrice"
              matInput
              placeholder="Purchase Price"
              class="currency-input"
              required
            />
          </mat-form-field>
        </div>
        <div class="form-container-inline">
          <mat-form-field appearance="fill">
            <mat-label for="arrivalWeight">Arrival Weight</mat-label>
            <input
              type="number"
              id="arrivalWeight"
              formControlName="arrivalWeight"
              matInput
              placeholder="Arrival Weight"
              class="currency-input"
              required
            />
            <span matSuffix *ngIf="showPrefix('arrivalWeight')">&nbsp;kg</span>
          </mat-form-field>
        </div>
        <div class="form-container-inline">
          <mat-checkbox id="sold" formControlName="sold" labelPosition="before">
            Sold
          </mat-checkbox>
        </div>
        <div class="form-container-inline" *ngIf="animalForm.get('sold').value">
          <mat-form-field appearance="fill">
            <mat-label for="sellPrice">Sell Price</mat-label>
            <input
              type="number"
              id="sellPrice"
              formControlName="sellPrice"
              matInput
              placeholder="Sell Price"
              class="currency-input"
              [required]="animalForm.get('sold').value"
            />
            <span matPrefix *ngIf="showPrefix('sellPrice')">R&nbsp;</span>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label for="sellDate">Sell Date</mat-label>
            <input
              id="sellDate"
              formControlName="sellDate"
              matInput
              [matDatepicker]="sd"
            />
            <mat-datepicker-toggle matSuffix [for]="sd"></mat-datepicker-toggle>
            <mat-datepicker #sd></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-container-inline">
          <mat-checkbox formControlName="deceased" labelPosition="before">
            Deceased
          </mat-checkbox>
        </div>
        <div
          class="form-container-inline"
          *ngIf="animalForm.get('deceased').value"
        >
          <mat-form-field appearance="fill">
            <mat-label for="dateOfDeath">Date of Death</mat-label>
            <input
              id="dateOfDeath"
              formControlName="dateOfDeath"
              matInput
              [matDatepicker]="dod"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dod"
            ></mat-datepicker-toggle>
            <mat-datepicker #dod></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="button"
          mat-button
          title="Reset changes"
          [disabled]="!animalForm.dirty"
          (click)="reset(currentAnimal)"
        >
          Cancel
        </button>
        <button
          type="submit"
          mat-button
          color="primary"
          title="Submit changes"
          [disabled]="animalForm.invalid || !animalForm.dirty"
        >
          Save
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
