<div class="animal-select-container">
  <span class="animal-select-svg">
    <mat-icon svgIcon="{{ getSvgIcon(currentAnimal) }}"></mat-icon>
  </span>
  <mat-select
    [value]="currentAnimal ? currentAnimal.id : 0"
    #animalSelector
    (selectionChange)="onChange(currentAnimal)"
  >
    <mat-option
      *ngFor="let animal of animals; let i = index"
      [value]="animal.id"
    >
      <mat-icon svgIcon="{{ getSvgIcon(animal) }}"></mat-icon>
      {{ animal.number }}
      {{ animal.subspecies ? ' - ' + animal.subspecies : '' }}
    </mat-option>
  </mat-select>
</div>
