<form
  [formGroup]="feedForm"
  class="container form-detail app-background"
  (ngSubmit)="submit()"
>
  <mat-toolbar
    color="primary"
    class="form-detail-toolbar app-toolbar"
    role="header"
  >
    <mat-toolbar-row>
      <mat-nav-list class="form-detail-toolbar__nav">
        <a
          mat-list-item
          class="form-detail-toolbar__nav__icon-container"
          (click)="onNavigateBack()"
        >
          <mat-icon>arrow_back</mat-icon>
        </a>
        <a
          mat-list-item
          matRippleDisabled
          class="form-detail-toolbar__nav__desc"
        >
          {{ getHeaderText() }}
        </a>
      </mat-nav-list>
      <span class="fill-remaining-space"></span>
      <button
        mat-icon-button
        type="button"
        title="Reset changes"
        [disabled]="feedForm.invalid || !feedForm.dirty || isPending"
        (click)="resetForm()"
      >
        <mat-icon>cancel</mat-icon>
      </button>
      <button
        mat-icon-button
        type="submit"
        title="Submit changes"
        [disabled]="!feedForm.dirty || isPending"
        (click)="submit()"
      >
        <mat-icon>save</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="form-detail-toolbar__header-top">
      <div class="form-detail-toolbar__header-top"></div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="form-detail-content">
    <mat-card class="form-container form-detail-content__card">
      <mat-card-header>
        <mat-card-title>
          <app-animal-select-container
            [disabled]="true"
          ></app-animal-select-container>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="form-detail-content__card-content">
        <div class="form form-container-inline">
          <mat-form-field appearance="fill">
            <mat-label for="transactionDate">Transaction Date</mat-label>
            <input
              id="transactionDate"
              formControlName="transactionDate"
              matInput
              [matDatepicker]="td"
              required
            />
            <mat-datepicker-toggle matSuffix [for]="td"></mat-datepicker-toggle>
            <mat-datepicker #td></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-container-inline">
          <mat-form-field appearance="fill">
            <mat-label for="feedID">Feed Type</mat-label>
            <mat-select
              id="feedID"
              formControlName="feedID"
              placeholder="Select a feed type"
              required
            >
              <mat-option
                *ngFor="let feedType of feedTypes"
                [value]="feedType.id"
              >
                {{ feedType.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-container-inline">
          <mat-form-field appearance="fill">
            <mat-label for="quantity">Quantity</mat-label>
            <input
              type="number"
              id="quantity"
              formControlName="quantity"
              matInput
              placeholder="Quantity"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label for="unitTypeCode">Unit Type</mat-label>
            <mat-select
              id="unitTypeCode"
              formControlName="unitTypeCode"
              placeholder="Select a unit type"
              required
            >
              <mat-option
                *ngFor="let unitType of unitTypes"
                [value]="unitType.typeCode"
              >
                {{ unitType.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="button"
          mat-button
          title="Reset changes"
          [disabled]="!feedForm.dirty || isPending"
          (click)="resetForm()"
        >
          Cancel
        </button>
        <button
          type="submit"
          mat-button
          color="primary"
          title="Submit changes"
          [disabled]="feedForm.invalid || !feedForm.dirty || isPending"
        >
          Save
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
