last 3 Chrome versions
last 3 Firefox versions
last 3 Edge major versions
last 3 Safari major versions
last 2 iOS major versions
not IE 11 # Angular supports IE 11 only as an opt-in. To opt-in, remove the 'not' prefix on this line.
